@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

::-moz-placeholder{
    color:#444;
 
}
::placeholder{
    color:#444;

}
.left_side_button button{
    background: white !important;
    border: none;
    margin-bottom: 9px;
    padding: 0px 20px;
    font-size: 10px;
    border-radius: 18px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 1px white;
    margin-right: 8px;

}
.left_side_button_customize{
    margin-left:13px;
}
.left_side_button_customize button{
    background: white !important;
    border: none;
    margin-bottom: 9px;
    padding: 0px 20px;
    font-size: 10px;
    border-radius: 18px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 82px;
    box-shadow: 0px 0px 1px white;
    margin-right: 8px;

}
.background{
    background: #f3f5f7;
    margin-top: 40px;
    z-index: 9999;
    overflow: auto;
    position: relative;
    height: 100%;
    padding-bottom: 226px;

}
.header_top{
    font-weight: bold;
    background: #fff;
    padding: 14px 0px;
    position: fixed;
    width: 100%;
    z-index:99999;
}
.header_right_icon{
        margin-right: 3px;
}
.header_right_icon img{
    height: 35px;
    margin-top: -19px;
    margin-bottom: -9px;
}
.header_top>ons-row>ons-col{
text-align: center !important;
}

#table-cartel-heading{
	text-align:center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
}
.left_side_button{
	margin-left:13px;
}
.left_side_search_heading{
    margin-left: 13px;
/*    margin-top: 75px;*/

}
.yah_side_search_heading{
    margin-left: 13px;
    margin-top: 136px;

}
.left_side_search_heading h2{
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;

}
.yah_side_search_heading h2{
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    color: #000;

}
.left_side_search_heading p{
    color:#5C5C5D;
    padding: 0;
    margin-top: -24px;
    font-family: 'Nunito', sans-serif;

}
.yah_side_search_heading p{
	color:#5C5C5D;
	padding: 0;
    margin-top: -24px;
    font-family: 'Nunito', sans-serif;
    padding-right:13px;

}
.cross_icon{
	top: 12px;
    position: absolute;
    right: 10px;
    font-size: 30px;
}
.cuisine_footer_carousel{
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
    background: #f3f5f7;
}
.cuisine_footer_carousel>ons-carousel{
    width: 64% !important;
 overflow: inherit !important;
}

#gray_bg{
        background: rgb(165, 166, 167) !important;
}
.carousel_heading{
    position: absolute;
    top: -40px;
    padding-left: 13px;
        background: #f3f5f7;
        width:100%;


}
.carousel_heading p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 12px;

}
.image_footer img{
        width: 100%;
    height: 120px;
}
.image_overlay_content{
    position: absolute;
    top: 0px;
    background: rgba(8, 8, 8, 0.44);
    width: 100%;
    height: 100%;
}
.image_overlay_content p{
    font-size: 10px;
    padding-left: 13px;
    color: #fff;
    padding-right: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.image_overlay_content h4{
    padding-top: 19px;
    color: #fff;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-left: 13px;
    font-weight: 400;
    margin-bottom: -7px;
}
.carousel_heading{
    font-size: 14px;
    color: #000;
}
/*woohoo page css*/
.i_know_button{
    margin-left: 13px;
}
.i_know_button button{
    border: none;
    background: #000;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    padding: 0px 35px;
    font-family: 'Nunito', sans-serif;

}
/*Vapianos css*/
.vapianos_order_load_wallet{
    background: #f3f5f7;
    position:relative;
}
.vapianos_cross_icon{
    top: 20px;
    position: absolute;
    right: 10px;
    font-size: 30px;
}
.vapianos_left_side_heading{
    margin-left:13px;
}
.vapianos_left_side_heading h2{
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size:30px;

}
.vapianos_left_side_heading p{
    color:#5C5C5D;
    padding: 0;
    margin-top: -15px;
    font-family: 'Nunito', sans-serif;

}
.background_white{
    background:white;
    margin-top: 40px;
    z-index: 9999;
    overflow: auto;
    position: relative;


}
#bg-restaurant{
    background: #f3f5f7;

}
.load_wallet{
    
    
}

.load_wallet strong{
    font-size: 12px;
    color: #191919;
    font-family: 'Nunito', sans-serif;

}
.vapianos_left_side_wallet{
margin-left: 13px !important;
    margin-top: 15px;
}
.progress-bar__primary{
    background-color: rgba(228, 228, 228, 0.81);
        border-radius: 50px !important;
}
.progress-bar{
    background-color: #000000;
    height: 4px;
    width: 50%;
    border-radius: 50px !important;
}
.wallet_progressr{
    margin-top:15px;
}
.cusine_type{}
.cusine_type strong{
    font-size: 12px;
    color: #191919;
    font-family: 'Nunito', sans-serif;
}
.cusine_type p{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 8px;
    color: #666;
    font-size: 12px;
}
.vapianos_right_side_rating{

}
.vapianos_right_side_rating>.card{
    text-align: center;
    background: #000;
    padding: 0px !important;
    width: 70px;
    float: right;
    margin-right: 15px;
}
.card_text{
    
    border-radius: 10px;
    color: #fff; 
    text-align: center;
}
.card_text span{
    font-size: 25px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
    font-family: 'Julius Sans One', sans-serif;
}
.card_text p{
    margin-top: 3px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 4px;
        font-size: 11px;
}
.vapianos_address{}
.vapianos_address strong{
    font-size: 12px;
color: #191919;

    font-family: 'Nunito', sans-serif;
}
.vapianos_address p{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 8px;
    color: #666;
    font-size: 11px;   
}
.reserv_button{
    float:right;
    margin-right:13px;
    margin-bottom: 10px;
}
select, option {
padding-left: 30px;
}
.reserv_modified{
    margin-top: 7px;

}
.reserv_button button{
    border-radius: 40px;
    font-size: 8px;
    padding: 0px 17px;
    border: 1px solid rgba(221, 221, 221, .73);
    color: #191919;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
}
.vapianos_menu_button_text{}
.vapianos_menu_button_text button{
    width: 100%;
    border-radius: 20px;
    padding: 0px 0px;
    margin-top: 14px;
    border: 1px solid rgba(102, 102, 102, 0.92);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    font-family: 'Nunito', sans-serif;
    margin-bottom: -5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.84);
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    float:left;
}
.icon img{
    width: 100%;
    padding-top: 4px;
}
.margin-left{
    padding-left:13px;
    margin-top: 20px;
    position:relative;
}
.icon_text strong{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: 800;
}
.icon_text{
    float: right;
    width: 60%;
    margin-top: 3px;
    margin-left: 5px;
}
.icon_text p{
    margin-top: 0px;
    font-size: 11px;
    color: #666;
    margin-bottom: 4px;
    font-family: 'Nunito Sans', sans-serif;
}
.vapianos_left_content{


}
.vapianos_icon_row{
padding-top: 10px;
    padding-bottom: 8px;

}
.vapianos_icon_right_des{
    margin-top: 10px;
}
.another_icon_text{
    width: 63% !important;
}
.single_left_content{
    clear:both;
}

/*Reserved Css*/
.reserved_side{
padding:0px 13px;

}
.left_side_reserved_heading{


}
.left_side_reserved_heading h2{
    font-weight: 600;
    margin-top: 20px;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;

}
.left_side_reserved_heading p{
    color: #5C5C5D;
    padding: 0;
    margin-top: -13px;
    font-family: 'Nunito', sans-serif;

}
.reserve_top_button_text{

}
.reserve_top_button_text p{
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}
.reserve_top_button p{
    width: 100%;
    border-radius: 25px;
    background: #fff;
    color: #333;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    padding: 1px 0px;
    text-align: center;
}
.reserve_top_button input{
    padding: 0px 16px;
    text-align: center;
    width:100%;

}
.reserve_top_button select{
    width: 100%;
    border-radius: 26px;
    padding: 7px 5px;
    text-indent: 10%;
    border: none;

}
.reserve_top_button select option{
    width: 100%;
    border-radius: 26px;
    padding: 7px 5px;

}

.reserve_top_second_button_text{}
.reserve_top_second_button_text p{
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;

}
.reserve_second_top_button{
      

    color: #333;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 0px;
}
.reserve_second_top_button input{
    padding: 0px 16px;
    text-align: center;
    width: 35%;
    background: #fff;
    border-radius: 25px;
    height: 30px;
    padding-bottom: 4px;

}
.reserve_top_third_button_text{}
.reserve_top_third_button_text p{
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 8px; 
}
.reserve_third_top_button{
   color: #333;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 0px;
}
.reserve_third_top_button input{
    border-radius: 25px;
    background: #fff;
    color: #333;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    padding: 9px 14px;
    width: 92px;
    text-align: center;
    border: none;
}
.reserve_button_area{
    margin-top: 45px;

}
.reserve_button_text button{
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px 0px;
}
.reserve_background{
    background: #f3f5f7;
    margin-top: 40px;
    z-index: 9999;
    overflow: auto;
    height: 630px;

}
.reserved_cross_icon{
    top: -17px;
    position: relative;
    right: 0px;
    font-size: 30px;
    float: right;

}
.nay_cross_icon{
    top: 10px;
    position: relative;
    right: 0px;
    font-size: 30px;
    float: right;

}
.cross_icon img, .nay_cross_icon img, .reserved_cross_icon img,.vapianos_cross_icon img{
    width:30px;
}
.reserved_carousel_heading{
    font-size: 14px;
    color: #000;
    background: #f3f5f7;
    margin-top: -42px;
}
.reserved_carousel_heading p{
    margin-left:13px;
}
/*Hello Jorge CSS*/
.hello_jorge_bg{
    background: #f3f5f7;
    margin-top: 46px;
    padding: 0px 13px;
    height: 85%;

}
.hello_jorge_footer_option{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:#f3f5f7;
}
.discover_button{}
.discover_button button{
    width:100%;
    background:#000;
    text-align:center;
    border:none;
    border-radius:25px;
    color:#fff;
}
.hello_jorge_footer_area{
    padding: 16px 0px;
}
.hello_jorge_button{}
.hello_jorge_button button{
font-size: 10px;

}
.nay_button{
    background: transparent;
    border: 1px solid #000;
    padding: 1px 26px;
    border-radius: 25px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.yay_button{
    background: #fff;
    border: 1px solid #fff;
    padding: 1px 26px;
    border-radius: 25px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #000;

}
#hellojorge-area{
    bottom: 14%;
}
.hello_jorge_heading h2{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-weight: normal;

}
.hello_jorge_heading p{
    line-height: 24px;
    color: #444;
    margin-top: -16px;
}
.reserve_button_customize{
    background: #fff;
    padding: 1px 15px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 25px;
    margin-left: 10px;
    color: #444;
    font-weight: bold;

}
.hellojorge_carousel_heading{
        font-size: 14px;
    color: #000;
    margin-top: -42px;
    background: #f3f5f7;
    width:100%;

}
.hellojorge_carousel_heading p{
    margin-left:13px;
}
.left_logo{
        margin-left: 13px;
}
.left_logo img{
    width:74%;
}
.hello_jorge_heading{
    margin-top: 136px;

}
.vapianos_menu_button{


}
.menu_bottom_item{
    background: #f3f5f7;
}
/*Logo Area*/
.logo-area{
        background: #f3f5f7;
}
.logos{
    margin: auto;
    width: 65%;
}
.logos img{
    width:100%;
    padding-top: 40px;

}
/*Login Form*/
.form_name{
    width: 100%;
    text-align: center;
    background: #fff;
    margin-bottom: 3px;

}
.form_pass{
    width: 100%;
    text-align: center;
    background: #fff;
}
.loginarea{
    background: #f3f5f7;
    margin-bottom: 64px;
    margin-top: 61px;

}
.facebook_connect{}
.facebook_button{
        width: 170px;
    margin: auto;
}
.facebook_button p{
    width: 100%;
    border-radius: 25px;
    background: #000;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding: 0px 0px;
    font-weight: bold;
    text-align: center;

}
.connect{}
.connect_button {
            width: 170px;
    margin: auto;
}
.connect_button p{
    width: 100%;
    border-radius: 25px;
    background: #000;
    padding: 0px 0px 0px 0px;
    margin-top: 18px;
    height: 33px;

}
.connect_button p img{
    width: 53px;
    margin-top: 11px;
    margin-left: 60px;

}
/*Menu css*/
.menu_header_area{
    padding:0px 13px;

}
.menu_header{
    margin-top: 28px;


}
.menu_header h2{
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: -11px;
    color: #444;

}
.menu_header p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 6px;

}
.menu_header strong{
    font-size: 14px;
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
}
.back_icon{
    float: right;
}
.back_icon img{
    width:30px;

}
.menu_button{
    height: 400px;
    overflow: scroll;

}
.menu_button button{
    border: 1px solid #424242;
    border-radius: 25px;
    padding: 0px 25px 0px 24px;
    margin: 6px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #424242;

}
.menu_button_area{
    margin-top:80px;

}
.menu_connect_button{
    width: 170px;
    margin: auto;

}
.menu_connect_button button{
    width: 100%;
    border-radius: 25px;
    background: #000;
    padding: 0px 0px 0px 0px;
    margin-top: 18px;
    height: 33px;
        margin-bottom: 20px;
            box-shadow: 0px 0px 2px black;

}
.menu_connect_button button img{
    width: 53px;
    margin-top: 11px;

}
.menu_footer_left_icon{}
.menu_footer_left_icon img{
    width: 25px;

}
.menu_footer_right_icon{}
.menu_footer_right_icon img{
    width: 25px;
    padding-left: 15px;

}
.menu_footer_row_black{
    background:#444;
    width:100px;
    margin:auto;
    height:4px;
    border-radius:5px;
    text-align:center;

}
.menu_footer_notifications{
    font-size: 12px;
    text-align: center;

}
.menu_footer_settings{
    font-size: 12px;
    text-align: center;
    padding-left: 12px;

}
.menu_footer_fixed{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #f3f5f7;
}
